[submodule "02_tutorials/collections/eth-cscs-summeruniversity2022"]
	path = 02_tutorials/collections/eth-cscs-summeruniversity2022
	url = https://github.com/eth-cscs/SummerUniversity2022
[submodule "02_tutorials/collections/thealgorithms-python"]
	path = 02_tutorials/collections/thealgorithms-python
	url = https://github.com/TheAlgorithms/Python
[submodule "02_tutorials/collections/jakevdp-pythondatasciencehandbook"]
	path = 02_tutorials/collections/jakevdp-pythondatasciencehandbook
	url = https://github.com/jakevdp/PythonDataScienceHandbook
[submodule "02_tutorials/collections/dask-dask-tutorials"]
	path = 02_tutorials/collections/dask-dask-tutorials
	url = https://github.com/dask/dask-tutorial
[submodule "02_tutorials/collections/numpy-numpy-tutorials"]
	path = 02_tutorials/collections/numpy-numpy-tutorials
	url = https://github.com/numpy/numpy-tutorials
[submodule "02_tutorials/collections/jupyter-widgets-tutorial"]
	path = 02_tutorials/collections/jupyter-widgets-tutorial
	url = https://github.com/jupyter-widgets/tutorial
[submodule "02_tutorials/collections/jrjohansson-scientific-python-lectures"]
	path = 02_tutorials/collections/jrjohansson-scientific-python-lectures
	url = https://github.com/jrjohansson/scientific-python-lectures
[submodule "02_tutorials/collections/eth-cscs-pythonhpc"]
	path = 02_tutorials/collections/eth-cscs-pythonhpc
	url = https://github.com/eth-cscs/PythonHPC
[submodule "02_tutorials/collections/lento234-python-tutorial"]
	path = 02_tutorials/collections/lento234-python-tutorial
	url = https://github.com/lento234/python-tutorial
[submodule "02_tutorials/collections/lento234-ml-tutorials"]
	path = 02_tutorials/collections/lento234-ml-tutorials
	url = https://github.com/lento234/ml-tutorials
[submodule "02_tutorials/collections/lightning-ai-tutorials"]
	path = 02_tutorials/collections/lightning-ai-tutorials
	url = https://github.com/Lightning-AI/tutorials
[submodule "02_tutorials/collections/pytorch-tutorials"]
	path = 02_tutorials/collections/pytorch-tutorials
	url = https://github.com/pytorch/tutorials
